# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.venv
env/
venv/
ENV/
*.sqlite3

# Media files (user uploads)
media/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/
*.cover
*.egg-info/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

node_modules/